html,
body {
  font-size: 62.5%;
  * {
    outline: none;
  }
}

body {
  user-select: none;
  font-family: $themeFont;
  font-size: 1.6rem;
  background: $black;
  position: relative;
  height: 100%;
  overflow: hidden;
}

header {
  position: fixed;
  z-index: 999;
}

figure {
  margin: 0;
}

button {
  background: none;
  border: none;
}

p {
  color: $cText;
  margin: 10px 0;
  @include screen(desktop) {
    line-height: 20px;
    margin: 30px 0;
  }
}

h1,
h2,
h3,
h4 {
  font-size: 20px;
  @include screen(desktop) {
    font-size: 24px;
  }
  @include screen(large) {
    font-size: 26px;
  }
}

main {
  width: 100%;
  height: 100%;
  outline: none;
}

section {
  @include screen(desktop) {
    // height: 100% !important;
  }
}

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
}

.loader {
  z-index: 9999;
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  @include flex(column, center, center);
  transition: 0.3s;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    .loader__wrap {
      width: 0;
      height: 0;
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2px;
    width: 100px;
    height: 100px;
    transition: 0.3s;
    @include screen(desktop) {
      width: 100px;
      height: 100px;
      grid-gap: 2px;
    }
  }
  &__rect {
    position: relative;
    width: 100%;
    height: 100%;
    background: #a5a5a5;
    transform: scale(0);
    transform-origin: center center;
    animation: loader 2s infinite linear;
    &:nth-of-type(7) {
    }

    &:nth-of-type(1),
    &:nth-of-type(5),
    &:nth-of-type(9) {
      animation-delay: 0.4s;
    }

    &:nth-of-type(4),
    &:nth-of-type(8) {
      animation-delay: 0.2s;
    }

    &:nth-of-type(2),
    &:nth-of-type(6) {
      animation-delay: 0.6s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.8s;
    }
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.fullVh {
  @include screen(desktop) {
    // height: 100vh !important;
  }
}

.slide__big-image {
  transition: 0.3s;
}
