.aside {
  &__navigation {
    right: 20px;
    @include vertical-center(fixed);
    z-index: 999;
  }

  &__menu {
    @include flex(column, center, space-between);
  }

  &__item-list {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.3s;
    & + li {
      margin-top: 10px;
    }
    &--active {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
