.header {
  position: fixed;
  height: 51px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black;
  @include flex(row, center, space-between);
  padding: 12px;
  @include screen(desktop) {
    padding: 0 get-vw(16px);
    height: get-vw(51px);
  }
  @include screen(large) {
    padding: 0 get-vwHD(16px);
    height: get-vwHD(51px);
  }
  &__logo {
    z-index: 2;
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    img {
      display: block;
      width: 70%;
      @include screen(desktop) {
        width: get-vw(184px);
        height: get-vw(25px);
      }
      @include screen(large) {
        width: get-vwHD(184px);
        height: get-vwHD(25px);
      }
    }
  }

  &__switch {
    background: none;
    border: none;
    @include flex(column, center, space-between);
    width: 25px;
    height: 25px;
    cursor: pointer;
    &.header__switch--black {
      span {
        @include screen(desktop) {
          background: $black;
        }
      }
    }
    @include screen(desktop) {
      width: get-vw(25px);
      height: get-vw(25px);
    }
    @include screen(large) {
      width: get-vwHD(25px);
      height: get-vwHD(25px);
    }
    &.open {
      + .header__nav {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__switch-line {
    width: 100%;
    height: 5px;
    background: $cWhite;
    pointer-events: none;
    @include screen(desktop) {
      height: get-vw(5px);
    }
    @include screen(large) {
      height: get-vwHD(5px);
    }
  }

  &__nav {
    position: absolute;
    @include flex(column);
    background: $black;
    color: $cWhite;
    right: 0;
    top: 0;
    padding-top: 51px;
    width: 100%;
    transition: 0.3s;
    transform: translate3d(100%, 0, 0);
    @include screen(desktop) {
      height: 100%;
      padding-top: 0;
      @include flex(row, center, space-between);
    }
  }
  &__close {
    position: absolute;
    right: 24px;
    width: 21px;
    height: 20px;
    top: 14px;
    @include flex(column, center, space-between);
    @include screen(desktop) {
      visibility: hidden;
      right: get-vw(14px);
      top: initial;
      width: get-vw(21px);
      height: get-vw(21px);
    }
    @include screen(large) {
      right: get-vwHD(14px);
      width: get-vwHD(21px);
      height: get-vwHD(21px);
    }
    &-line {
      width: 100%;
      height: 1px;
      background: $cWhite;
      @include vertical-center();
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__nav-menu {
    @include flex(column);
    width: 100%;
    padding: 12px;
    padding-bottom: 50px;
    height: auto;
    @include screen(desktop) {
      height: 100%;
      padding: get-vw(12px);
      @include flex(row, center, space-between);
      width: get-vw(342px);
      margin-left: auto;
    }
    @include screen(large) {
      padding: get-vwHD(12px);
      width: get-vwHD(342px);
    }
  }

  &__nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    line-height: 30px;
    &:first-child {
      display: none;
    }
    @include screen(desktop) {
      font-size: get-vw(15px);
      line-height: initial;
    }
    @include screen(large) {
      font-size: get-vwHD(15px);
    }
    &.active {
      > a {
        color: $cWhite;
        font-weight: bold;
      }
    }
    &:hover {
      // .header__submenu {
      //   opacity: 1;
      //   visibility: visible;
      //   height: auto;
      //   @include screen(desktop) {
      //     height: get-vw(25px);
      //     width: 100%;
      //   }
      //   @include screen(large) {
      //     height: get-vwHD(25px);
      //   }
      // }
    }
  }

  &__nav-link {
    color: $cMenu;
    text-decoration: none;
    position: relative;
    text-transform: lowercase;
    display: block;
    transition: 0.3s;
    z-index: 2;
    &--active {
      color: $cWhite;
      font-weight: bold;
    }
    &:hover {
      @include screen(desktop) {
        color: $cWhite;
        font-weight: bold;
      }
    }
  }
  &__submenu {
    @include flex(column);
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    padding: 0 30px;
    &.active {
      opacity: 1;
      height: auto;
      visibility: visible;
      @include screen(desktop) {
        padding: get-vw(5px) 0 get-vw(7px);
        width: 100%;
      }
      @include screen(large) {
        padding: get-vwHD(5px) 0 get-vwHD(7px);
      }
    }
    @include screen(desktop) {
      @include flex(row);
      position: fixed;
      top: get-vw(35px);
      left: 0;
      right: 0;
      background: $black;
      padding: 0;
      z-index: 1;
      justify-content: flex-end;
    }
    @include screen(large) {
      top: get-vwHD(35px);
    }
    &-item {
      font-size: 14px;
      @include screen(desktop) {
        font-size: get-vw(15px);
        margin-right: get-vw(13.5px);
      }
      @include screen(large) {
        font-size: get-vwHD(15px);
        margin-right: get-vwHD(13.5px);
      }
    }

    &-href {
      color: $cMenu;
      text-decoration: none;
      text-transform: lowercase;
      transition: 0.3s;
      z-index: 2;
      position: relative;
      cursor: pointer;
      &:focus,
      &:hover,
      &:active,
      &.active {
        color: $cWhite;
      }
    }

    &-project {
      font-size: 14px;
      color: $cWhite;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: 0.3s;
      margin-right: 0;
      font-weight: 400;
      ~ li {
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
      }
      @include screen(desktop) {
        width: get-vw(373px);
        font-size: get-vw(15px);
        padding-top: get-vw(5px);
      }
      @include screen(large) {
        width: get-vwHD(373px);
        font-size: get-vwHD(15px);
        padding-top: get-vwHD(5px);
      }
    }
  }

  &__bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 51px;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #0d0d0d;
    @include screen(desktop) {
      position: relative;
      border: none;
      justify-content: flex-end;
      width: auto;
      margin-right: get-vw(17px);
    }
    @include screen(large) {
      margin-right: get-vwHD(17px);
    }
  }

  &__search {
    margin: 0 18px;
    @include screen(desktop) {
      margin: 0 get-vw(8px);
    }
    @include screen(large) {
      margin: 0 get-vwHD(8px);
    }
    &-switch {
      display: none;

      &:checked {
        + .header__search-icon {
          circle {
            stroke: $cWhite;
          }
          path {
            fill: $cWhite;
          }
        }
        ~ .header__search-block {
          transform: translate3d(0, 0, 0);
        }
      }
    }
    &-icon {
      align-items: flex-end;
      &:focus,
      &:hover,
      &:active {
        transition: 0.3s;
        circle {
          stroke: $cWhite;
        }
        path {
          fill: $cWhite;
        }
      }
      @include screen(desktop) {
        width: get-vw(14px);
      }
      @include screen(large) {
        width: get-vwHD(14px);
      }
    }

    &-input {
      border: none;
      padding-left: get-vw(10px);
      border-bottom: 1px solid $cMenu;
      outline: none;
      background: none;
      color: $cWhite;
      font-size: 15px;
      appearance: none;
      margin: 0 get-vw(20px) get-vw(20px);
      text-align: center;
      padding-bottom: 5px;
      width: 80%;
      @include screen(desktop) {
        width: 22vw;
        text-align: left;
      }
      &:focus {
        transition: 0.3s;
        color: $cWhite;
      }
    }
  }

  &__languages {
    padding: 0 10px;
    @include screen(desktop) {
      padding: 0 get-vw(25px) 0 get-vw(5px);
    }
    @include screen(large) {
      padding: 0 get-vwHD(25px) 0 get-vwHD(5px);
    }
  }

  &__socials,
  &__search,
  &__languages {
    display: flex;
    height: 100%;
    align-items: center;
    a,
    object,
    label {
      display: inline-flex;
      align-items: center;
      line-height: 25px;
      height: 25px;

      @include screen(desktop) {
        line-height: get-vw(25px);
        height: get-vw(15px);
      }
      @include screen(large) {
        line-height: get-vwHD(25px);
        height: get-vwHD(15px);
      }
    }
    object {
      pointer-events: none;
    }
  }

  &__search {
    display: none;
  }

  &__search-block {
    position: fixed;
    top: 100%;
    height: 10%;
    right: 0;
    width: 100%;
    transition: 0.3s;
    transform: translate3d(100%, 0, 0);
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $cBorder;
    @include screen(desktop) {
      justify-content: flex-end;
      height: 100%;
    }
  }

  &__social {
    margin: 0 10px;
    &:focus,
    &:hover,
    &:active {
      transition: 0.3s;
      transform: scale(1.2);
    }
    @include screen(desktop) {
      margin: 0 get-vw(5px);
    }
    @include screen(large) {
      margin: 0 get-vwHD(5px);
    }
  }

  &__lang-href {
    text-decoration: none;
    color: $cMenu;
    font-size: 15px;
    transition: 0.3s;
    @include screen(large) {
      font-size: get-vwHD(15px);
    }
    &--active {
      display: none !important;
    }
    &:focus,
    &:hover,
    &:active {
      color: $cWhite;
    }
  }
}
