/* Section portfolio */
.portfolio,
.media,
.about,
.team {
  &__thumbs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 0 4px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    @include screen(
      (
        min-width: 350px,
      )
    ) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include screen(desktop) {
      gap: get-vw(7px) !important;
      margin: 0 get-vw(7px) !important;
      grid-template-columns: repeat(3, get-vw(446px)) !important;
      &.grid-5 {
        grid-template-columns: repeat(5, get-vw(264px)) !important;
      }
    }
    @include screen(large) {
      gap: get-vwHD(7px) !important;
      margin: 0 get-vwHD(7px) !important;
      grid-template-columns: repeat(3, get-vwHD(630px)) !important;
      &.grid-5 {
        grid-template-columns: repeat(5, get-vwHD(375px)) !important;
      }
    }
  }
  &__thumb {
    height: 115px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    @include flex(column, flex-end, flex-end);
    &.top {
      transition-delay: 2s;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(0, 0, 0, 0.8);
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
    @include screen(tablet) {
      height: get-vw(446px);
    }
    @include screen(desktop) {
      height: get-vw(446px);
      &.grid-item-5 {
        height: get-vw(264px);
      }
    }
    @include screen(large) {
      height: get-vwHD(633px);
      &.grid-item-5 {
        height: get-vwHD(375px);
      }
    }
    &.overlay {
      &::before {
        opacity: 1;
        z-index: 1;
        visibility: visible;
      }
      h3 {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }
    &:hover {
      @include screen(desktop) {
        &::before {
          opacity: 1;
          z-index: 1;
          visibility: visible;
        }
        h3 {
          opacity: 1;
          visibility: visible;
          z-index: 1;
        }
      }
    }
    &-img {
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      pointer-events: none;
      background-size: cover !important;
    }
    &-street {
      font-size: 14px;
      padding: 12px;
      color: $cWhite;
      position: relative;
      z-index: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      text-align: left;
      pointer-events: none;
      @include screen(desktop) {
        padding: get-vw(12px);
        font-size: get-vw(24px);
      }
      @include screen(large) {
        font-size: 24px;
      }
    }
  }
}
/* Section  */

.contact {
  margin-left: 7px;
  .fp-scroller {
    height: 100%;
  }
  @include screen(desktop) {
    margin-left: 0;
  }
  .section__alignment {
    @include screen(desktop) {
      height: 100vh !important;
      padding: 0 get-vw(145px) get-vw(115px) 0;
    }
    @include screen(large) {
      padding: 0 get-vwHD(145px) get-vwHD(115px) 0;
    }
  }

  .section__title {
    margin-left: 0;
  }

  &__para {
    color: $cWhite;
    font-size: 15px;
    text-align: left;
    a {
      color: $cWhite;
      &:focus,
      &:hover,
      &:active {
        color: $cWhite;
      }
    }
    @include screen(desktop) {
      font-size: get-vw(15px);
      margin: get-vw(10px) 0;
      width: get-vw(300px);
    }
    @include screen(large) {
      font-size: get-vwHD(15px);
      margin: get-vwHD(10px) 0;
      width: get-vwHD(300px);
    }
    &:last-child {
      margin-bottom: 16px;
      @include screen(desktop) {
        margin-bottom: get-vw(16px);
      }
      @include screen(large) {
        margin-bottom: get-vwHD(16px);
      }
    }
  }
}

/* team */
.team {
  &__thumb {
    position: relative;
    height: 122px;
    @include screen(tablet) {
      height: get-vw(446px);
    }
    @include screen(desktop) {
      height: get-vw(446px);
    }
    @include screen(large) {
      height: get-vwHD(633px);
    }
    &.blockItem {
      pointer-events: none;
    }
    &:first-child {
      @include screen(desktop) {
        overflow: initial;
        img {
          z-index: 1;
        }
      }
    }
    &:nth-child(n + 3) {
      ~ .team__wrap {
        top: 51%;
      }
    }
    &.show {
      &::before {
        display: none;
      }
    }
  }

  &__close {
    display: block;
    background: url(../images/close.png) no-repeat center;
    background-size: cover;
    width: 21px;
    height: 20px;
    position: fixed;
    right: 10px;
    top: 20px;
    z-index: 10;
    @include screen(desktop) {
      display: none;
    }
  }
  &__hidden-long {
    .swiper-slide {
      height: 60vh;
    }
  }
  &__hidden-long,
  &__hidden {
    opacity: 0;
    visibility: hidden;
    padding: 11px;
    z-index: 999999;
    position: absolute;
    font-size: 14px;
    line-height: 22px;
    color: $cWhite;
    text-align: left;
    height: 100%;
    width: 100%;
    top: 32%;
    left: 0;
    background: black;
    transform: translate3d(-100%, 0, 0);
    transition: 0.3s;
    @include flex(column);
    @include screen(desktop) {
      position: absolute;
      top: 0;
      width: 100%;
      font-size: get-vw(14px);
      line-height: get-vw(22px);
      padding: get-vw(20px) get-vw(30px);
    }
    @include screen(large) {
      padding: get-vwHD(20px) get-vwHD(30px);
      line-height: get-vwHD(22px);
      font-size: 14px;
    }
    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
      visibility: visible;
      z-index: 9;
      .team__thumb-street {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__position {
    padding-bottom: 20px;
    @include screen(desktop) {
      padding-bottom: get-vw(20px);
    }
    @include screen(large) {
      padding-bottom: get-vwHD(20px);
    }
  }

  &__content-long {
    color: $cText;

    p {
      font-size: 14px;
      line-height: 20px;
      margin: 15px 0;
    }
    @include screen(desktop) {
      min-height: initial;
      position: initial;
      overflow: initial;
      padding-bottom: 0;
      padding-right: get-vw(80px);
    }
  }
  &__thumb {
    &-street {
      padding: 8px 0;
      font-size: 18px;
      @include screen(desktop) {
        padding: get-vw(8px) 0;
        font-size: get-vw(18px);
      }
      @include screen(large) {
        padding: get-vwHD(8px) 0;
        font-size: 18px;
      }
    }
    &:hover {
      .team__hidden {
        @include screen(desktop) {
          overflow: hidden;
          transform: translate3d(0, 0, 0);
          z-index: 9;
          opacity: 1;
          visibility: visible;
        }
      }
      .team__hidden-long {
        @include screen(desktop) {
          overflow: hidden;
          height: 100%;
          z-index: 9;
          transform: translate3d(32.65007vw, 0, 0);
          background: $black;
          width: calc(100vw - 32.65007vw);
          z-index: 9;
          opacity: 1;
          visibility: visible;
        }
        @include screen(large) {
          width: calc(100vw - 32.96875vw);
          transform: translate3d(32.96875vw, 0, 0);
        }
      }
    }
  }
}

.portfolio {
  &__thumbs {
    @include screen(desktop) {
      margin-top: get-vw(20px) !important;
    }
    @include screen(large) {
      margin-top: get-vwHD(20px) !important;
    }
    .slide__wrap {
      @include screen(desktop) {
        padding-top: get-vw(70px) !important;
      }
      @include screen(large) {
        padding-top: get-vwHD(70px) !important;
      }
    }
  }
  &__thumb {
    transition: 0.3s;
    opacity: 1;

    @include screen(desktop) {
      width: get-vw(446px);
      height: get-vw(446px);
    }
    @include screen(large) {
      width: get-vwHD(632px);
      height: get-vwHD(632px);
    }

    &--active {
      visibility: visible;
      position: relative;
    }
  }

  .fp-scroller .slide__wrap {
    @include screen(desktop) {
      padding-top: get-vw(20px) !important;
    }
    @include screen(large) {
      padding-top: get-vwHD(20px) !important;
    }
  }
}
