.section {
  &:nth-child(n + 2) {
    padding-top: 51px;
    @include screen(desktop) {
      padding-top: get-vw(51px);
    }
    @include screen(large) {
      padding-top: get-vwHD(51px);
    }
  }

  &--margin {
  }

  &__slider {
    &-mobile {
      @include screen(desktop) {
        display: none;
      }
    }
    &-desktop {
      display: none;
      @include screen(desktop) {
        display: block;
      }
    }
  }
  &__title {
    text-transform: lowercase;
    color: $cMenu;
    font-size: 18px;
    text-align: left;
    margin-bottom: 7px;
    margin-left: 4px;
    @include screen(
      (
        max-width: 568px,
      )
    ) {
      padding-top: 1.3rem;
    }
    @include screen(desktop) {
      display: none;
    }
  }

  &__alignment {
    height: 100%;
    width: 100%;
    @include flex(column, flex-start, flex-end);
    @include screen(desktop) {
      align-items: flex-end;
    }
  }
}
