.swiper {
  &__container {
    height: 100vh;
    padding-top: 34px;
    @include screen(desktop) {
      padding-top: 0;
    }
  }
  &__pagination {
    display: none;
    @include screen(desktop) {
      bottom: get-vw(80px) !important;
      display: block;
    }
    @include screen(large) {
      bottom: get-vwHD(80px) !important;
    }
    .swiper-pagination-bullet {
      background: rgba(255, 255, 255, 0.5);
      &-active {
        background: rgba(255, 255, 255, 1);
      }
    }
  }
}

.slide {
  z-index: 9;
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 8;
    background: $black;
    color: $cText;
    font-size: 14px;
    padding: 9px 10px;
    text-transform: uppercase;
    @include screen(desktop) {
      display: none;
    }
  }

  &__thumb {
    &--fullVh {
      height: 100vh !important;
    }
  }

  &__wrap {
    height: 100vh;
    background: $black;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    transform: translate3d(-100%, 0, 0);
    position: absolute;
    &.portfolio__project {
      position: fixed;
      top: 100%;
      @include screen(desktop) {
        position: absolute;
        top: 0;
        padding-top: get-vw(10px);
      }
      @include screen(large) {
        padding-top: get-vwHD(10px);
      }
    }

    &--active {
      z-index: 999;
      transform: translate3d(0, 0, 0);
      padding-top: 51px;
      @include screen(desktop) {
        padding-top: initial;
      }
    }
  }
  &__image {
    padding: 2px 4px;
    height: auto !important;
    @include screen(desktop) {
      height: 100vh !important;
    }
  }
  &__video {
    iframe,
    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__big-image {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
    z-index: -1;
    @include screen(desktop) {
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
      position: absolute;
    }
  }
  &__content {
    color: $cWhite;
    font-size: 14px;
    @include flex(column);
    height: 85vh !important;
    text-align: left;
    padding: 10px 20px;
    overflow: auto;
    @include screen(desktop) {
      min-height: 100vh;
      height: 100vh !important;
      overflow: hidden;
      padding: get-vw(162px) get-vw(82px);
      line-height: get-vw(20px);
      font-size: get-vw(14px);
      justify-content: center;
    }
    @include screen(large) {
      padding: get-vwHD(162px) get-vwHD(82px);
      line-height: get-vwHD(20px);
      font-size: get-vwHD(16px);
    }
    &-title {
      text-transform: uppercase;
    }
    &-intro {
      margin-bottom: 0;
    }
  }

  &__column {
    &-cols {
      // min-height: 500px;
      overflow: auto;
      @include flex(column);
      @include screen(desktop) {
        overflow: initial;
        min-height: initial;
        @include flex(row, flex-start, space-between);
      }
    }
    &-left {
      @include screen(desktop) {
        width: 47%;
      }
    }
    &-right {
      @include screen(desktop) {
        width: 50%;
      }
    }
  }
}

.active-rs-slide {
  animation: zoomin 20s ease-in infinite;
  transition: all 0.5s ease-in-out;
}

.iScrollVerticalScrollbar {
  display: none;
}

rs-bullets {
  top: 109% !important;
  @include screen(desktop) {
    top: 100% !important;
  }
}
