.gallery,
.section {
  .ms_pagination,
  rs-bullets {
    @include screen(desktop) {
      bottom: get-vw(-40px);
      z-index: 9999999999;
    }
    @include screen(large) {
      bottom: get-vwHD(-40px);
    }
  }
  .ms_image.ng-scope {
    height: 565px;
    background-size: cover !important;
    @include screen(desktop) {
      height: auto;
    }
  }
  .ms_bullet.ng-scope,
  rs-bullet.tp-bullet {
    z-index: 9999;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: none !important;
    width: 6px !important;
    height: 6px !important;
    margin: 0 6px !important;
    cursor: pointer;
    display: block !important;
    &::after {
      display: none;
    }
    &:focus,
    &:hover,
    &:active,
    &.ms_active,
    &.selected {
      background: rgba(255, 255, 255, 1) !important;
    }
  }
}
