<section class="section active section__slider" id="section1">
  <div class="section__slider-mobile">
    {% filter shortcodes %}[rev_slider alias="slider-mobile"][/rev_slider]{%
    endfilter %}
  </div>
  <div class="section__slider-desktop">
    {% filter shortcodes %}[rev_slider
    alias="parallax-zoom-slices"][/rev_slider]{% endfilter %}
  </div>
</section>

<section class="portfolio section" id="section2">
  <h2 class="section__title">
    {{ component.portfolio__titles[0]['title'] }}
  </h2>

  <div class="portfolio__thumbs shuffle__container my-shuffle-container grid">
    {% for project in projects %}
    <div
      class="{%
        for
        cat
        in
        project.get_field('post_categories')
        %}{% if cat.post_projectId == 'wybrane' %} portfolio__thumb--active {% endif %} {{
        cat.post_projectId
      }} {%
        endfor
        %} portfolio__thumb slide__thumb picture-item grid-item"
    >
      {% if project.post__min %}
      <img
        class="portfolio__thumb-img ib-main__img"
        src="{{ TimberImage(project.post__min) }}"
        alt="portfolio images"
      />
      {% endif %}

      <h3 class="portfolio__thumb-street">{{ project.title }}</h3>
      <div class="portfolio__project slide__wrap ib-content-full">
        <div class="swiper-container swiper__container">
          <div class="swiper-wrapper">
            {% for image in project.get_field('post__images') %}
            <div class="swiper-slide slide__image">
              <img
                class="slide__big-image"
                src="{{ TimberImage(image.post__img) }}"
                alt="slide portfolio images"
              />
            </div>
            {% endfor %} {% for content in project.get_field('post__contents')
            %}
            <div class="swiper-slide slide__content">
              {% if loop.index0 == 0 %}
              <h4 class="slide__content-title">{{ project.title }}</h4>
              {% endif %} {% if project.post_intro and loop.index0 == 0 %}
              <p class="slide__content-intro">{{ project.post_intro }}</p>
              {% endif %}
              <div class="slide__column-cols">
                <div class="slide__column-left">
                  {{ content.post__leftCol | wpautop }}
                </div>
                <div class="slide__column-right">
                  {{ content.post__rightCol | wpautop }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination swiper__pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-scrollbar"></div>
          <span class="ib-close"></span>
          <div class="slide__title">{{ project.title }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="media section section--margin" id="section3">
  <h2 class="section__title">
    {{ component.portfolio__titles[1]['title'] }}
  </h2>
  <div class="media__thumbs grid-5">
    {% for media in medias %}
    <div class="media__thumb grid-item-5 slide__thumb ib-main__a ib-content">
      {% if media.post__min %}
      <img
        class="media__thumb-img ib-main__img"
        src="{{ TimberImage(media.post__min) }}"
        alt="media images"
      />
      {% endif %}

      <h3 class="media__thumb-street">{{ media.title }}</h3>
      <div class="media__project slide__wrap">
        <div class="swiper-container swiper__container">
          <div class="swiper-wrapper">
            {% if media.post__file %}
            <div class="swiper-slide slide__video">
              <iframe
                title="media video"
                width="320"
                height="315"
                src="{{ media.post__file }}"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            {% endif %} {% for image in media.post__medias %}
            <div class="swiper-slide slide__image">
              <img
                class="slide__big-image"
                src="{{ TimberImage(image) }}"
                alt="media images"
              />
            </div>
            {% endfor %} {% for content in media.get_field('post__contents') %}
            <div class=" swiper-slide slide__content">
              {% if loop.index0 == 0 %}
              <h4 class="slide__content-title">{{ media.title }}</h4>
              {% endif %} {% if media.post_intro and loop.index0 == 0 %}
              <p class=" slide__content-intro">{{ media.post_intro }}</p>
              {% endif %}
              <div class="slide__column-cols">
                <div class="slide__column-left">
                  {{ content.post__leftCol | wpautop }}
                </div>
                <div class="slide__column-right">
                  {{ content.post__rightCol | wpautop }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination swiper__pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <span class="ib-close"></span>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
<section class="about section section--margin" id="section4">
  <h2 class="section__title">
    {{ component.portfolio__titles[2]['title'] }}
  </h2>
  <div class="about__thumbs">
    {% for about in aboutus %}
    <div class="about__thumb slide__thumb">
      {% if about.post__min %}
      <img
        class="about__thumb-img"
        src="{{ TimberImage(about.post__min) }}"
        alt="about images"
      />
      {% endif %}

      <h3 class="about__thumb-street">{{ about.title }}</h3>
      <div class="about__project slide__wrap">
        <div class="swiper-container swiper__container">
          <div class="swiper-wrapper">
            {% for image in about.get_field('post__images') %}
            <div class=" swiper-slide slide__image">
              <img
                class="slide__big-image"
                src="{{ TimberImage(image.post__img) }}"
              />
            </div>
            {% endfor %} {% for content in about.get_field('post__contents') %}
            <div class="swiper-slide slide__content">
              {% if loop.index0 == 0 %}
              <h4 class="slide__content-title">{{ about.title }}</h4>
              {% endif %} {% if about.post_intro and loop.index0 == 0 %}
              <p class=" slide__content-intro">{{ about.post_intro }}</p>
              {% endif %}
              <div class="slide__column-cols">
                <div class="slide__column-left">
                  {{ content.post__leftCol | wpautop }}
                </div>
                <div class="slide__column-right">
                  {{ content.post__rightCol | wpautop }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination swiper__pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <span class="ib-close"></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section class="team section section--margin section--overflow" id="section5">
  <h2 class="section__title">
    {{ component.portfolio__titles[3]['title'] }}
  </h2>
  <div class="team__thumbs">
    {% for team in teams %}
    <div class="team__thumb">
      {% if team.post__min %}
      <img
        class="team__thumb-img"
        src="{{ TimberImage(team.post__min) }}"
        alt="team images"
      />
      {% endif %} {% if team.post_if_team %}
      <div class="team__wrap team__hidden-long">
        <span class="team__close"></span>

        <div class="swiper-container teamLong">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <h3 class="team__thumb-street">{{ team.title }}</h3>
              <span class="team__position">{{ team.post__positionTeam }}</span>
              <div class="team__desc team__content-long">
                {{ team.post__descTeam | wpautop }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="team__wrap team__hidden">
        <span class="team__close"></span>
        <h3 class="team__thumb-street">{{ team.title }}</h3>
        <span class="team__position">{{ team.post__positionTeam }}</span>
        <p class="team__desc team__content">{{ team.post__contentTeam }}</p>
      </div>
      {% endif %}
    </div>

    {% endfor %}
  </div>
</section>
<footer class="section section--margin contact" id="section6">
  <div class="section__alignment">
    <h2 class="section__title">
      {{ component.portfolio__titles[4]['title'] }}
    </h2>
    {% for para in options.paragraphs %}
    <p class="contact__para">{{ para.paragraphs_text }}</p>
    {% endfor %}
  </div>
</footer>
