<header class="header">
  <a class="header__logo" href="{{ site.url }}" title="">
    <img class="header__logo--white" src="{{ TimberImage(theme.link) }}/assets/images/77logo.svg" alt="logo" />
  </a>
  <div class="header__switch">
    <span class="header__switch-line"></span>
    <span class="header__switch-line"></span>
    <span class="header__switch-line"></span>
  </div>
  <nav class="header__nav">
    <button class="header__close">
      <span class="header__close-line"></span>
      <span class="header__close-line"></span>
    </button>
    <ul class="header__nav-menu" id="menu">
      <li class="header__nav-item active" data-menuanchor="intro">
        <a href="#intro" class="header__nav-link header__nav-link--active" title="projekty"
        {% if site.language == 'pl-PL' %}
        >strona główna
          {% else %}
            homepage
          {% endif %}
          
        </a>
      </li>
      <li class="header__nav-item" data-menuanchor="project">
        <a href="#project" class="header__nav-link" title="projekty">{% if site.language == 'pl-PL' %}
        projekty
          {% else %}
            projects
          {% endif %} </a>

        <ul class="header__submenu" id="submenu">
          <li class="header__submenu-item">
            <a
              id="wybrane"
              title="wybrane"
              href="#wybrane"
              class="header__submenu-href header__submenu-href--active active"
              >{% if site.language == 'pl-PL' %}
        wybrane
          {% else %}
            selected
          {% endif %}</a
            >
          </li>
          <li class="header__submenu-item">
            <a
              id="publiczne"
              title="publiczne"
              href="#publiczne"
              class="header__submenu-href"
              >{% if site.language == 'pl-PL' %}
        publiczne
          {% else %}
            public
          {% endif %}</a
            >
          </li>
          <li class="header__submenu-item">
            <a
              title="wielorodzinne"
              id="wielorodzinne"
              href="#wielorodzinne"
              class="header__submenu-href"
              >{% if site.language == 'pl-PL' %}
        wielorodzinne
          {% else %}
            multifamily
          {% endif %}</a
            >
          </li>
          <li class="header__submenu-item">
            <a id="domy" title="domy" href="#domy" class="header__submenu-href">{% if site.language == 'pl-PL' %}
        domy
          {% else %}
            houses
          {% endif %}</a>
          </li>
          <li class="header__submenu-item">
            <a
              data-category="przemysłowe"
              title="przemysłowe"
              href="#przemysłowe"
              id="przemysłowe"
              class="header__submenu-href"
              >{% if site.language == 'pl-PL' %}
        przemysłowe
          {% else %}
            industrial
          {% endif %}</a
            >
          </li>
        </ul>
      </li>
      <li class="header__nav-item" data-menuanchor="media">
        <a href="#media" class="header__nav-link" title="media">{% if site.language == 'pl-PL' %}
        media
          {% else %}
            media
          {% endif %}</a>
      </li>
      <li class="header__nav-item" data-menuanchor="aboutus">
        <a href="#aboutus" class="header__nav-link" title="o nas">{% if site.language == 'pl-PL' %}
        o nas
          {% else %}
            about us
          {% endif %}</a>
      </li>
      <li class="header__nav-item" data-menuanchor="team">
        <a href="#team" class="header__nav-link" title="zespół">{% if site.language == 'pl-PL' %}
        zespół
          {% else %}
            team
          {% endif %} </a>
      </li>
      <li class="header__nav-item" data-menuanchor="contact">
        <a href="#contact" class="header__nav-link" title="kontakt">{% if site.language == 'pl-PL' %}
        kontakt
          {% else %}
            contact
          {% endif %} </a>
      </li>
    </ul>
    <div class="header__bottom-bar">
      <div class="header__socials">
        {% for social in options.socials %}
        <a class="header__social" href="{{ social.icon.link }}">
          <object class="header__social-item" type="image/svg+xml" data="{{ social.icon.url }}">
          </object>
        </a>
        {% endfor %}
      </div>
      <div class="header__search">
        <input id="hidden" class="header__search-switch" type="checkbox" />
        <label class="header__search-icon" for="hidden">{{
          source('assets/images/search_icon.svg')
        }}</label>
        <div class="header__search-block">
          <input
            placeholder="Wprowadź tekst"
            class="header__search-input"
            type="text"
            name="search"
            id="search"
          />
        </div>
      </div>
      <div class="header__languages">
        {% for lang in languages %}
        <a
          class="header__lang-href {% if 'current-lang' in lang.classes %} header__lang-href--active {% endif %}"
          href="{{ lang.url }}"
          >{{ lang.slug }}</a
        >
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
