<div class="loader">
  <div class="loader__wrap">
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
    <div class="loader__rect"></div>
  </div>
</div>
