{% extends "base.twig" %} {% block content %} {% for component in page.get_field('components') %} {%
include "/components/#{component.acf_fc_layout}/template.twig" with {'component': component} %} {%
endfor %} {% endblock %}
