{% block header %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="{{ function( 'language_attributes' ) }}" > <![endif]-->
<html {{ function( 'language_attributes' ) }}>
<head>
  <meta charset="{{site.charset}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="{{ theme.link }}/assets/favicons/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="{{ theme.link }}/assets/favicons/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="{{ theme.link }}/assets/favicons/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="{{ theme.link }}/assets/favicons/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="{{ theme.link }}/assets/favicons/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="{{ theme.link }}/assets/favicons/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="{{ theme.link }}/assets/favicons/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="{{ theme.link }}/assets/favicons/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ theme.link }}/assets/favicons/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="{{ theme.link }}/assets/favicons/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ theme.link }}/assets/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="{{ theme.link }}/assets/favicons/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ theme.link }}/assets/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="{{ theme.link }}/assets/favicons/manifest.json" />

        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="{{theme.link}}/assets/favicons/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />
        <meta property="og:image" content="{{ theme.link }}/assets/facebook.png" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:title" content="{{ site.title }}" /> 
        <meta name="description" content="{{ site.description }}">
        {{ wp_head }}
</head>
<body {{ body_class }} class="">
{% endblock %}

{% block loader %}
    {% include "views/parts/loader.twig" %}
{% endblock %}

{% block menu %}
       {% include 'views/layouts/header/template.twig' %}
{% endblock %}


<main class="main ib-main-wrapper" id="fullpage" role="main" >
    {% block content %}
   
    {% endblock %}
</main>


{% block footer %}
<script src="{{theme.link}}/bower_components/fullpage.js/vendors/easings.min.js"></script>
<script src="{{theme.link}}/bower_components/fullpage.js/vendors/scrolloverflow.min.js"></script>
<script src="{{theme.link}}/bower_components/fullpage.js/dist/fullpage.min.js"></script>
<script src="{{theme.link}}/bower_components/fullpage.js/dist/fullpage.extensions.min.js"></script>

{{ wp_footer}}

</body>
</html>
{% endblock %}